In [1]:
#-----------creating list data---

In [2]:
lst=[1,2,7,8,6,5,4,88,25,2,4,5,3,1]

In [3]:
lst

[1, 2, 7, 8, 6, 5, 4, 88, 25, 2, 4, 5, 3, 1]

In [4]:
#------replacing positon 3 with value 23

In [5]:
lst[3]=23

In [6]:
lst

[1, 2, 7, 23, 6, 5, 4, 88, 25, 2, 4, 5, 3, 1]

In [7]:
#-----------converting  list to set--------

In [8]:
seq_set=set(lst)

In [9]:
seq_set

{1, 2, 3, 4, 5, 6, 7, 23, 25, 88}

In [10]:
#--------converting list to tuple-----

In [11]:
lst_tup=tuple(lst)

In [12]:
lst_tup

(1, 2, 7, 23, 6, 5, 4, 88, 25, 2, 4, 5, 3, 1)

In [13]:
#---------creating a tuple data----

In [14]:
tup=(1, 2, 3, 4, 5, 6, 7, 23, 25, 88)

In [15]:
tup

(1, 2, 3, 4, 5, 6, 7, 23, 25, 88)

In [16]:
#--------------converting tuple to list----

In [17]:
tup_list=list(tup)

In [18]:
tup_list

[1, 2, 3, 4, 5, 6, 7, 23, 25, 88]

In [19]:
#--------------converting tuple to set----

In [20]:
tup_set=set(tup_list)

In [21]:
tup_set

{1, 2, 3, 4, 5, 6, 7, 23, 25, 88}

In [22]:
#------creating a set---------

In [23]:
set={"name":['param','athma'],"qualification":['degree','btech']}

In [24]:
set

{'name': ['param', 'athma'], 'qualification': ['degree', 'btech']}

In [26]:
import pandas as pd
import numpy as np

In [28]:
df=pd.DataFrame(set)

In [29]:
df

    name qualification
0  param        degree
1  athma         btech