In [27]:
import pandas as pd

# Import the Excel sheet into a DataFrame
# Replace 'your_input_file.xlsx' with the path to your Excel file
df = pd.read_excel(r"D:\jaya sri\dataiku_task.xlsx",sheet_name="Input")


# Add a new column with the numeric representation of the day
# df['Day'] = df['DateofPurchase'].map(day_map)

# Extract the month and year from the 'Date' column
df['Year'] = df['DateofPurchase'].dt.year
df['Month'] = df['DateofPurchase'].dt.month


#----------------display month name
df['Month'] = df['DateofPurchase'].dt.strftime('%B')


# Extract the day of the week
df['Day'] = df['DateofPurchase'].dt.strftime('%A')


# Add "RS" to the 'Amount' column
df['amount'] = 'RS ' + df['cost'].astype(str)

# print("Excel file has been processed and saved as 'processed_output.xlsx'!")
print(df.head())


# Save the updated DataFrame to a new Excel file
df.to_excel("D:\jaya sri\output_v1.xlsx", index=False)

   S.no        product location   cost  discount DateofPurchase  Year  \
0     1  Electronics_1    Hyd_1  15000       0.1     2025-01-12  2025
1     2  Electronics_2    Hyd_1  12000       0.1     2025-01-13  2025
2     3  Electronics_3    Hyd_1  13000       0.1     2025-01-14  2025
3     4  Electronics_4    Hyd_1  14000       0.1     2025-01-15  2025
4     5  Electronics_5    Hyd_1  16000       0.1     2025-01-16  2025

     Month        Day    amount
0  January     Sunday  RS 15000
1  January     Monday  RS 12000
2  January    Tuesday  RS 13000
3  January  Wednesday  RS 14000
4  January   Thursday  RS 16000

<>:37: SyntaxWarning: invalid escape sequence '\j'
<>:37: SyntaxWarning: invalid escape sequence '\j'
C:\Users\hp\AppData\Local\Temp\ipykernel_17532\681236023.py:37: SyntaxWarning: invalid escape sequence '\j'
  df.to_excel("D:\jaya sri\output_v1.xlsx", index=False)