In [1]:
import pandas as pd
df=pd.read_excel(r"C:\jaya sri\Data_Migration\New Folder\LGA_Employee_Details.xlsx")
df

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies",mr.paramatma@gmail.com,8897328855
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening,jayasrinandipu@gmail.com,9573249123
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies",santhoshkumarmaganti15@gmail.com,9553938798
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books",swathiloya95@gmail.com,9989114251
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music",mmahabunnisa18@gmail.com,7380047872
5,6,Domathoti.Mallika,Inter,HEC,Stockmarket,non,Local,"Movies,Reading Books",mallikadomathoti14@gmail.com,9959368611
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books",rahamatunnisa103@gmail.com,8688206424
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music,nagadurgaodugu789@gmail.com,9492478895
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel",naseena121@gmail.com,7799813858
9,10,Gunmadi.prasanna,Bcom,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books,gummadiprasanna214@gmail.com,8688859784
10,11,Maganti. Naga ratnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books,mnagarathnam 9392 @gmail.com,8186098598

In [2]:
#basic checks

In [3]:
df.head()

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies",mr.paramatma@gmail.com,8897328855
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening,jayasrinandipu@gmail.com,9573249123
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies",santhoshkumarmaganti15@gmail.com,9553938798
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books",swathiloya95@gmail.com,9989114251
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music",mmahabunnisa18@gmail.com,7380047872

In [4]:
df.tail()

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books",rahamatunnisa103@gmail.com,8688206424
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music,nagadurgaodugu789@gmail.com,9492478895
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel",naseena121@gmail.com,7799813858
9,10,Gunmadi.prasanna,Bcom,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books,gummadiprasanna214@gmail.com,8688859784
10,11,Maganti. Naga ratnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books,mnagarathnam 9392 @gmail.com,8186098598

In [5]:
df.columns

Index(['S.No', 'Name', 'Qualification', 'Group', 'Skills', 'CurrentProject',
       'Location', 'Hobbies', 'EmailId', 'Contact'],
      dtype='object')

In [6]:
df.shape

(11, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S.No            11 non-null     int64
 1   Name            11 non-null     object
 2   Qualification   11 non-null     object
 3   Group           11 non-null     object
 4   Skills          11 non-null     object
 5   CurrentProject  11 non-null     object
 6   Location        11 non-null     object
 7   Hobbies         11 non-null     object
 8   EmailId         11 non-null     object
 9   Contact         11 non-null     int64
dtypes: int64(2), object(8)
memory usage: 1012.0+ bytes

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df_1=pd.DataFrame(df)
df_1

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies",mr.paramatma@gmail.com,8897328855
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening,jayasrinandipu@gmail.com,9573249123
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies",santhoshkumarmaganti15@gmail.com,9553938798
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books",swathiloya95@gmail.com,9989114251
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music",mmahabunnisa18@gmail.com,7380047872
5,6,Domathoti.Mallika,Inter,HEC,Stockmarket,non,Local,"Movies,Reading Books",mallikadomathoti14@gmail.com,9959368611
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books",rahamatunnisa103@gmail.com,8688206424
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music,nagadurgaodugu789@gmail.com,9492478895
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel",naseena121@gmail.com,7799813858
9,10,Gunmadi.prasanna,Bcom,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books,gummadiprasanna214@gmail.com,8688859784
10,11,Maganti. Naga ratnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books,mnagarathnam 9392 @gmail.com,8186098598

In [10]:
#function
def my_fun(df_1,Name):
    newdf = df_1[df_1['Name']==Name]
    final=newdf.to_dict('dict')
    return final

In [33]:
my_fun(df_1,"Domathoti.Mallika")

{'S.No': {5: 6},
 'Name': {5: 'Domathoti.Mallika'},
 'Qualification': {5: 'Inter'},
 'Group': {5: 'HEC'},
 'Skills': {5: 'Stockmarket'},
 'CurrentProject': {5: 'non'},
 'Location': {5: 'Local'},
 'Hobbies': {5: 'Movies,Reading Books'},
 'EmailId': {5: 'mallikadomathoti14@gmail.com'},
 'Contact': {5: 9959368611}}